*.o
*~
*.a
*.log
*.aux
*.lof
*.pdf
*.toc
*.gz
*.out
*.bbl
*.blg
*.bak
*.sav
*.synctex
.SyncIgnore

# Config file
config.json

# Executables
Peer
BTSyncInterface
TrackerInterface
btbackup
bttracker
main
